<div class="highway-back">
    <div class="container">
        <div class="row head-row" style="height:20%">
            <div class="col-12">
                <img src="/assets/icons/arrow_circle_left.svg" (click)="clickBack()">
            </div>
        </div>
        <div class="row align-items-end" style="height:80%;padding-bottom:10%;">
            <div class="col-12">
                <div class="title label">Mandarin Robotics</div>
                <div class="section">
                    <div class="label">Business Registration</div>
                    <div>{{businessRegistrationNumber}}</div>
                </div>
                <div class="section">
                    <div class="label">Hong Kong Gov. Logistic Department</div>
                    <div>Supplier Code: 0300061</div>
                </div>
                <div class="section">
                    <div class="label">Contact</div>
                    <div>Mobile: +852.XXXX.XXXX</div>
                    <div>Email: xxx.xxx@mandarinrobotics.co</div>
                </div>
            </div>
        </div>
    </div>
</div>
