<div class="splash-back">
    <div class="container">
        <div class="row align-items-begin" style="height:50%;padding-top:15%;">
            <div class="col-12" style="text-align: center;">
                <img src="/assets/images/mr_logo_white.png" height="50">
            </div>
        </div>
        <div class="row align-items-end" style="height:50%;padding-bottom:15%;">
            <div class="col-4 link label" (click)="clickAction('portfolio')">Portfolio</div>
            <div class="col-4 link label" (click)="clickAction('blog')">Blog</div>
            <div class="col-4 link label" (click)="clickAction('distribution')">Distribution</div>
        </div>
    </div>
</div>
