<div class="topNavContainer">
    <div class="item" (click)="clickBack()"><span class="mandarinrobotics">Mandarin Robotics</span><span class="aiDemo"> . Portfolios</span></div>
</div>
<div class="container">
    <!--<div class="row head-row">
        <div class="col-12 label title">Portfolio</div>
    </div>-->
    <div class="row head-row">
        <div class="col-12 col-sm-4 card-container">
            <app-card [cardModel]="icdSearchCard" (click)="clickICDSearch()"></app-card>
        </div>
        <div class="col-12 col-sm-4 card-container">
            <app-card [cardModel]="semanticSearchCard" (click)="clickSemanticSearch()"></app-card>
        </div>
        <div class="col-12 col-sm-4 card-container">
            <app-card [cardModel]="ragChatCard" (click)="clickRagChat()"></app-card>
        </div>
        <div class="col-12 col-sm-4 card-container">
            <app-card [cardModel]="ocrCard" (click)="clickOCR()"></app-card>
        </div>
        <div class="col-12 col-sm-4 card-container">
            <app-card [cardModel]="lifeHackerCard" (click)="clickLifeHacker()"></app-card>
        </div>
    </div>
</div>
