@use "@angular/material" as mat;

@include mat.core();

.topNavContainer{
    background-color: lightslategray;
    color: darkslategray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topNavContainer .item{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding-left:10px;
    padding-right:10px;
}

.topNavContainer .item .mandarinrobotics{
    font-family: mrserif;
    color: white;
    font-size: 1.25em;
}